<div class="container">
  <mat-card  [formGroup]="pagoGrupo" class="pago-from">

    <mat-card-header>
      <mat-card-title>Nuevo Pago</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Fecha de Pago</mat-label>
        <mat-hint>DD/MM/YYYY</mat-hint>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="cantidad">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tipo Pago</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of tiposPago" [value]="t">{{t}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Codigo Estudiante</mat-label>
        <input matInput formControlName="codigoEstudiante">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Archivo</mat-label>
        <button type="button" mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input matInput readonly formControlName="fileName">
        <input type="file" hidden #f_input (change)="selecFile($event)"  accept="application/pdf">
      </mat-form-field>
      <mat-card-actions>
        <button (click)="guardarPago()"> Guardar</button>
      </mat-card-actions>
    </mat-card-content>

  </mat-card>
</div>
